.paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin-left: 2vw;
  background: whitesmoke;
}
.line {
  text-decoration: line-through;
  text-align: left;
  max-width: 380px;
}
.align {
  text-align: left;
  max-width: 380px;
}
.delete{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: black;
  padding: 0.5em 1.2em;
  min-width: 185px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}