.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 640px;
  border-radius: 25px;
  box-sizing: border-box;
  padding-top: 10px;
  background: #bde19d;
}
.background {
  display: flex;
  flex-direction: column;
  width: 100%;
}