.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  background: whitesmoke;
  border-radius: 0 0 15px 15px;
}