.button {
  height: auto;
  width: auto;
  outline: none;
  border: none;
  background: none;
  color: darkgray;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
  &:focus,
  &:active {
    font-weight: bold;
    color: black;
  }
  &:hover {
    color: black;
  }
}
